body {
	background-color: beige;
	font-family: Verdana, sans-serif;
}

h1 {
	text-align: center;
	margin-top: 30px;
}

#goalSelect {
	position:fixed;
	border: 2px dashed grey;
	margin-left: 5%;
	padding: 8pt;
}

table, th, td {
	margin: auto;
    border: 5px solid grey;
    border-collapse: collapse;
    text-align: center;
}

th, td {
	width: 80px;
	height: 60px;
	font size: large;
}

th {
	background-color: grey;
	font-size: 30pt;
	color: white;
}

td {
	background-color: white;
	font-size: 20pt;
	cursor: pointer;
}

#freeCell {
	background-color: black;
	color: white;
}

#displayNum {
	width: 200px;
	height:70px;
	border: 2px dashed grey;
	margin: auto;
	padding-bottom: 10px;
	text-align: center;
}

#buttons {
	text-align: center;
}

button {
	padding: 20px;
	margin: 30px;
	border-radius: 8px;
	cursor: pointer;
	background-color: lightgrey;
	border: none;
	font-family: Verdana, sans-serif;
	font-size: 12pt;
}

button:active {
	background-color: grey;
}
